[Desktop Entry]
Encoding=UTF-8
Name=Link to 6b38a727129942469030b7ac1de777a0
Type=Link
URL=http://platform.fatsecret.com/api/Default.aspx?screen=mykd&cpc=true&id=11648
Icon=text-html
